VITE_SUPABASE_URL=https://pyupazjotylqflopynwh.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_FRfOXCDZl5rjjS3BgNEgvw_XLm_sJ7r

# One-time local setup only (do not commit real password)
ADMIN_EMAIL=pranavsoni2702@gmail.com
ADMIN_PASSWORD=Pranav@270204
